#모든 pdf 파일 무시
*.pdf

#01_study/01_python/ 내 ipynb 무시
01_study/01_python/*.ipynb


#01_study/01_python/.ipynb_checkpoints 내 ipynb 무시
01_study/01_python/.ipynb_checkpoints/*.ipynb

#jupyter check points
.ipynb_checkpoints
*/.ipynb_checkpoints/*